.line {
    fill: none;
    stroke: grey;
    stroke-width: 2.2px;
    stroke-linejoin: "round";
    stroke-linecap: "round";
  }
  
  .grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
  }
  
  .grid path {
    stroke-width: 0;
  }
  
  div.tooltip {
    position: absolute;
    text-align: left;
    width: 120px;
    height: 35px;
    padding: 10px;
    font: 12px sans-serif;
    color: white;
    background: rgb(18, 55, 85);
    border: 0px;
    border-radius: 6px;
    pointer-events: none;
  }
  
  div.container-fluid {
    display: inline-block;
    margin: 0 10%;
  }